<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DaphneEntities" connectionString="metadata=res://*/DaphneModel.csdl|res://*/DaphneModel.ssdl|res://*/DaphneModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ISPG341\SQLEXPRESS;Initial Catalog=Daphne;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DaphneDomainTests.Properties.Settings.DaphneConnectionString"
      connectionString="Data Source=ISPG341\SQLEXPRESS;Initial Catalog=Daphne;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>